@{
    ViewData["Title"] = "Home Page";
}

<body>

    <!-- ******************** Slider Starts Here ******************* -->
    <div class="slider">
        <!-- Set up your HTML -->
        <div class="owl-carousel ">
            <div class="slider-img">
                <div class="item">
                    <div class="slider-img"><img src="GrayPic/1b.jpg" width="1080" height="700" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="animated bounceInDown slider-captions">
                                    <h1 class="slider-title">The Grayson Support Foundation</h1>
                                    <p class="slider-text hidden-xs">Distribution of materials to the children during our outreach 2022</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-img">
                <div class="item">
                    <div class="slider-img"><img src="GrayPic/1a.jpg" width="1080" height="700" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="animated bounceInDown slider-captions">
                                    <h1 class="slider-title">The Grayson Support Foundation</h1>
                                    <p class="slider-text hidden-xs">Distribution of materials to the children during our outreach 2022</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-img">
                <div class="item">
                    <div class="slider-img"><img src="GrayPic/1d.jpg" width="1080" height="700" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="animated bounceInDown slider-captions">
                                    <h1 class="slider-title">The Grayson Support Foundation</h1>
                                    <p class="slider-text hidden-xs">Distribution of materials to the children during our outreach 2022</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="GrayPic/27.jpg" width="1080" height="700" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions ">
                                <h1 class="slider-title">It's time for better help.</h1>
                                <p class="slider-text hidden-xs">Child Needs?</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="GrayPic/18.jpg" width="1080" height="700" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions ">
                                <h1 class="slider-title">The Grayson Support Foundation</h1>
                                <p class="slider-text hidden-xs">Picture of the volunteers with the Founder Olubunmi Arungbemi</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--  ************************* About Us Starts Here ************************** -->

    <div class="about-us container-fluid">
        <div class="container">

            <div class="row natur-row no-margin w-100">
                <div class="text-part col-md-6">
                    <h2>About The Grayson Support Foundation</h2>
                    <p>
                        The Grayson Support Foundation, an NGO located in the heart of Abuja, founded by the compassionate Olubunmi Arungbemi. 
                        At the core of our organization lies a heartfelt to illuminate the lives of children residing in the most impoverished corners of rural communities with the boundless love of God.
                        We recognize that these young souls face immense challenges, and it is our unwavering commitment to restore the joy and innocence reflected in their smiles.
                    </p>
                    <p>
                        Our foundation is dedicated to addressing Sustainable Development Goals 2 (Zero Hunger) and 4 (Quality Education) with a dual-pronged approach.
                        Firstly, we extend a helping hand to the parents of these children, who find themselves navigating the difficult terrain of extreme poverty. 
                        Through our initiatives, we provide essential food items to alleviate the burdens of hunger that often plague their households. 
                        Simultaneously, we supply educational materials, acknowledging the significance of knowledge as a catalyst for transformation and empowerment.
                    </p>

                    <p>
                        The Grayson Support Foundation acts as a beacon of hope, recognizing that fostering the well-being of the children and supporting their families are intertwined endeavors.
                        By imparting the message of God's love and addressing the tangible needs of daily life, we strive to create a brighter future for these deserving young minds.
                        Together, let us embark on a journey of compassion, resilience, and positive change, as we work tirelessly to build a world where every child's smile is a testament to the transformative power of love and support.
                    </p>
                </div>
                <div class="image-part col-md-6">
                    <div class="about-quick-box row">
                        <div class="col-md-6">
                            <div class="about-qcard">
                                <i class="fas fa-user"></i>
                                <p>Become a Volunteer</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-qcard ">
                                <i class="fas fa-search-dollar red"></i>
                                <p>Quick Fundraiser</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-qcard ">
                                <i class="fas fa-donate yell"></i>
                                <p>Give Donation</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-qcard ">
                                <i class="fas fa-hands-helping blu"></i>
                                <p>Help A Child</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- ################# Mission Vision Start Here #######################--->

    <section class="container-fluid mission-vision">
        <div class="container">
            <div class="row mission">
                <div class="col-md-6 mv-det">
                    <h1>Our Mission</h1>
                    <p>At the heart of our mission is a dedication to addressing the dual challenges of hunger and limited access to education faced by these vulnerable communities.
                        By spreading the message of God's love and providing tangible support, we aspire to create a brighter future for these deserving young minds. 
                        The Grayson Support Foundation envisions a world where every child's smile becomes a symbol of hope, resilience,
                        and the positive change that is possible when communities come together in compassion and support.</p>
                </div>
                <div class="col-md-6 mv-img">
                    <img src="GrayPic/4.jpg" width="700" height="350" alt="">
                </div>
            </div>
            <div class="row vision">
                <div class="col-md-6 mv-img">
                    <img src="GrayPic/9.jpg" width="700" height="450" alt="">
                </div>
                <div class="col-md-6 mv-det">
                    <h1>Our Vision</h1>
                    <p>
                        The Grayson Support Foundation envisions a future where the radiance of God's love breaks through the shadows of poverty,
                        illuminating the lives of countless children in rural communities. Our aspiration is to grow exponentially, reaching and impacting an ever-increasing number of young hearts with the transformative power of compassion and support.

                        In this envisioned future, the Grayson Support Foundation stands as a beacon of hope for children across diverse landscapes, instilling in them the belief that love can conquer adversity.
                        We see communities flourishing, with smiles of countless children reflecting the promise of a brighter tomorrow. As we enlarge our reach, our vision is to create a ripple effect, inspiring positive change and uplifting the spirits of those in need.

                        The Grayson Support Foundation envisions a world where every child, regardless of circumstance, has the opportunity to dream, learn, and thrive. 
                        Through our continuous growth and unwavering commitment, we aim to leave an indelible mark on the lives of children, fostering resilience, empowerment, and a sense of limitless possibility. 
                        Together, let us create a future where the impact of our collective efforts extends far beyond borders, bringing lasting joy to the hearts of countless children in need.
                    </p>
                </div>
            </div>
        </div>
    </section>



    <!-- ################# Events Start Here#######################--->
    <section class="events">
        <div class="container">
            <div class="session-title row">
                <h2>Popular Causes</h2>
                <p>We are a non-profital & Charity raising money for child education materials, food and clothing</p>
            </div>
            <div class="event-ro row">
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="GrayPic/2a.jpg" width="400" height="200" alt="">
                        <h4>Child Education in Nigeria</h4>
                        <p class="desic">Empower a future in Nigeria by supporting child education through our NGO.
                            Your donation paves the way for brighter tomorrows, transforming lives, and creating opportunities for countless young minds. 
                            Join us today</p>
                        <button class="btn btn-success btn-sm">Donate Now</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="GrayPic/2b.jpg" width="400" height="200" alt="">
                        <h4>Child Feeding in Nigeria</h4>
                        <p class="desic">Nourish young lives in Nigeria. Your generosity fuels hope, ensuring no child goes hungry. Donate now and make a lasting impact </p>
                        <button class="btn btn-success btn-sm">Donate Now</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="assets/images/events/image_04.jpg" width="400" height="200" alt="">
                        <h4>Child Clothing in Nigeria</h4>
                        <p class="desic">Dress a child in need with love and warmth. Your donation makes a difference. Join us in providing clothing and spreading joy </p>
                        <button class="btn btn-success btn-sm">Donate Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- ################# Charity Number Starts Here#######################--->


    <div class="doctor-message">
        <div class="inner-lay">
            <div class="container">
                <div class="row session-title">
                    <h2>Our Achievements in Numbers</h2>
                    <p>
                        We discovered that as opposed to the mainstream idea that only children without parents are struggling,
                        children with parents are also suffering from having to feed well in a day, get good clothes or even go to school.
                        The Grayson Support Foundation aims to support these families (parents), by providing basic needs like foods and clothing as well as educational materials.
                        You're welcome to support us!

                        For partnerships & sponsorships, reach us here: thegrayson.sf@gmail.com 
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-3 numb">
                        <h3>3+</h3>
                        <span>YEARS OF EXPEREANCE</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>500+</h3>
                        <span>HAPPY CHILDRENS</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>2+</h3>
                        <span>EVENTS</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>28+</h3>
                        <span>VOLUNTEERS</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!--################### Our Team Starts Here #######################--->
    <section class="our-team team-11">
        <div class="container">
            <div class="session-title row">
                <h2>Meet our Team</h2>
                <p>Get acquainted with our dynamic team, united in the mission to create a better world together, driven by passion and commitment to make positive changes in communities.</p>
            </div>
            <div class="row team-row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="GrayPic/011.jpg" width="210" height="230" alt="">
                        <div class="det-o">
                            <h4>Olubunmi Arungbemi</h4>
                            <i>FOUNDER / CEO </i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="GrayPic/10.jpg" width="210" height="230" alt="">
                        <div class="det-o">
                            <h4>Ebiwonjumi Ademola</h4>
                            <i>Counselling Psychologist</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="GrayPic/3c.jpg" width="210" height="230" alt="">
                        <div class="det-o">
                            <h4>David Kanuel</h4>
                            <i>Team Leader</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="GrayPic/3a.jpg" width="210" height="230" alt="">
                        <div class="det-o">
                            <h4>Muttallab Ose Mariam</h4>
                            <i>Creative Graphic Artist</i>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>



    <!-- ################# Our Blog Starts Here#######################--->

    <section class="our-blog">
        <div class="container">
            <div class="row session-title">
                <h2> Our Blog </h2>
                <p>Take a look at what people say about US </p>
            </div>
            <div class="blog-row row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            <img src="assets/images/events/image_01.jpg" alt="">
                        </figure>
                        <div class="blog-detail">
                            <small>By Admin | August 10 2018</small>
                            <h4>Methods of Recuirtments</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
                            <div class="link">
                                <a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            <img src="assets/images/events/image_02.jpg" alt="">
                        </figure>
                        <div class="blog-detail">
                            <small>By Admin | August 10 2018</small>
                            <h4>Methods of Recuirtments</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
                            <div class="link">
                                <a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            <img src="assets/images/events/image_03.jpg" alt="">
                        </figure>
                        <div class="blog-detail">
                            <small>By Admin | August 10 2018</small>
                            <h4>Methods of Recuirtments</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
                            <div class="link">
                                <a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

  
</body>

</html>